.homeHeader {
    position: static;
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
     
    color: var(--pink);
    text-decoration: none;
}

.linkSection {
    margin: 0 2rem;
    width: 100%;
    color: var(--pink);
     
    text-decoration: none;
}

.utils {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
     
}

.utils a {
    color: var(--pink);
    text-decoration: none;
     
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
     
    
}

.headerLink {
    margin: 0 1rem;
    color: var(--pink);
    text-decoration: none;
     
}